<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>PetsPal</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>PetsPal</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.420981816895-uqudei86jtp1l9od19ah4b6psc8m10qs</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb2079017322472496</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FLTEnableImpeller</key>
		<true/>
		<key>FacebookAdvertiserIDCollectionEnabled</key>
		<true/>
		<key>FacebookAppID</key>
		<string>2079017322472496</string>
		<key>FacebookClientToken</key>
		<string>0c6a3a468914031cd1a28f903e81861c</string>
		<key>FacebookDisplayName</key>
		<string>Blue Art</string>
		<key>FirebaseDynamicLinksCustomDomains</key>
		<array>
			<string>https://blueArt.page.link/</string>
			<string>blueArt.page.link</string>
		</array>
		<key>GIDClientID</key>
		<string>420981816895-uqudei86jtp1l9od19ah4b6psc8m10qs.apps.googleusercontent.com</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>comgooglemaps</string>
			<string>baidumap</string>
			<string>iosamap</string>
			<string>waze</string>
			<string>yandexmaps</string>
			<string>yandexnavi</string>
			<string>citymapper</string>
			<string>mapswithme</string>
			<string>osmandmaps</string>
			<string>dgis</string>
			<string>qqmap</string>
			<string>here-location</string>
			<string>tomtomgo</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>We need access to your camera for profile photo update and scanning for order verification code.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>We need access to your location to show nearby vendors and share your location with customer when delivering their order.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>We need access to your location to show nearby vendors and share your location with customer when delivering their order.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need access to your location to show nearby vendors and share your location with customer when delivering their order.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Microphone permission is required to access microphone.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We need access to your gallery for profile photo.</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>App not using it</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>com.apple.security.device.audio-input</key>
		<true/>
	</dict>
</plist>
